<div id="formulario1">


  <a    >Bienvenido: </a>
  <strong>{{user.first_name}}</strong>
  <br />
  <a>Rol: </a>
  <strong  href="/views/carts/{{user.role}}" id="role" >{{user.role}} </strong>
     <a  href="/views/carts/{{user.cart}}" id="cart">Cart</a>
      {{!-- <a  href="/api/carts/{{user.cart}}" id="cart">Cart</a> --}}
  <br />
  <button {{!-- onclick="addLink(`{{this._id}}`)" --}}><a
      href="/session/logout"
    >Cerrar Sesion</a></button>
</div>
<h2> Lista de productos:</h2>
<hr />
{{!-- {{#each products}}
    <div>
        <li>
            {{this.title}}
            <ol>
                {{this.description}}
            </ol>
        </li>
    </div>
{{/each}} --}}
<div >
  <table>
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Disponibilidad</th>
        <th>Stock</th>
        <th>Categoría</th>
        <th>Fotografía</th>
        <th>Comprar</th>
      </tr>
    </thead>
    <tbody>
      {{#each products.docs}}

 
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>{{this.price}}</td>
          <td>{{this.status}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.category}}</td>
          <td>{{this.thumbnails}}</td>
          <td>
                   <button id="boton"
              class="btn btn-success"
              onclick="addLink(`{{this._id}}`)"
               {{!-- onclick="addLink(`{{this._id}}`)" --}}
               {{!-- onclick="addLink(`{{this._id}}`)" --}}
              {{!-- disabled="" --}}
              onload="myFunction()"
            >Add </button>
            </td>

         </tr>
      {{/each}}
      

    </tbody>
  </table>

  <div>
    <br />
    {{#if products.hasPrevPage}}
      <a href="{{products.prevLink}}">Anterior</a>
    {{/if}}

    {{#if products.hasNextPage}}
      <a href="{{products.nextLink}}">Siguiente</a>
    {{/if}}

    {{#if products.page}}

      <a>{{products.page}}</a>
    {{/if}}

  </div>

</div>
     <script>
function myFunction() {
    document.getElementById("boton").setAttribute("disabled", "true"); 
  }

    </script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/addLink.js"></script>